# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Logs
*.log
logs/
hs_err_pid*

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Java
*.class

# Others
.env